body {
	background-image: url(../img/pattern.jpg);
}

#logo{
		float: left;
}

.nav {
		position: fixed;
        width: 100%;
        background:#ffffff;
        float: left;
        margin-top: 10px;
}

.nav ul{
		text-align: right;
}

.nav li{

		display: inline-block;
		color: blue;
		margin-right: 20px;		
}

section{
		margin: 0 auto;
		padding-top: 20px;
		position: relative;
		width: 50%;
        background:#ffffff;
}

footer{
		color: white;
		position: absolute;
        width: 100%;
        background:#000000;
        text-align: center;      
}

h1{
	text-align: center;
}

a{
	 text-decoration: none;
	}

#article-list{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	margin-bottom: 10px;
}